.modal {
    padding: 3%;
    background-color: white;
    position: absolute;
    top: 15%;
    left: 20%;
    right: 20%;
    bottom: 5%;
    z-index: 101;
    overflow: hidden;
    border: 5px solid #cccccc;
    border-radius: 30px;
}
.modal-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.modal-info {
  color: black;
  text-align: center;
  padding: 10px;
  margin: 5px;
  width: 100%;
}
p {
  margin: 0 0 5px;
}

.modalButtons {
  position: absolute;
  color: black;
  z-index: 1;
  top: 5px;
  right: 10px;
  transform: translateX(-50%);
  padding: 5px;
  font-size: 0;
  line-height: 0;
}

.modalBackdrop {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  height: 100%;
  width: 100%;
  z-index: 100;
}

.story-image {
  height: 70vh;
  width: 70vh;
}
