<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>MohammadHerzalla</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body style="background-color: #323642">
        <nav class="navbar  navbar-fixed-top">
  <ul class="ul">
      <div class="container">
    <li class=" logo"><i style="font-size: 25px;margin-right: 5px; color:#32a8e6;"class="fas fa-user-astronaut i"></i><b class="myname">M. Herzalla</b></li>

    <!--<li class="pf"><a href="#news"><img src=" images/user.png" class="img-circle" alt="Cinque Terre" width="20" height="20"></a><b class="username">Mohammad</b></li>-->
    <li class="pull-right" style="margin-right:10px; margin-top:5px">
        <a target="_blank"href="https://www.linkedin.com/in/mohammad-herzalla-632b4960"><i class="fa fa-linkedin i"style="font-size:32px;color:#adadad ;margin-right:15px;"></i></a>
        <a target="_blank"href="https://www.npmjs.com/~mj.herzalla"><i class="fab fa-npm i" style="font-size:32px;color:#adadad ;margin-right:15px;"></i></a>
        <a target="_blank"href="https://github.com/mjherzalla"><i class="fa fa-github i"  style="font-size:32px;color:#adadad ;margin-right:15px;"></i></a>
        <a  onclick="addlike()"><i class="fas fa-thumbs-up i"  style="font-size:32px;color:#adadad;margin-right:15px;"></i></a>
    </li>
</div>
  </ul>
  </nav>>

  <div class="container" style="margin-top:50px">

        <div class="row">
          <div class="col-md-4 col-sm-3">
                <div class="flip-container " ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper">
                            <div class="front card">
                                <div>
                                    <h3>Jr.Front End Developer</h3>
                                    <img class="img"src="http://www.fillmurray.com/200/200" >
                                    <br>Mohammad Herzalla
                                </div>
                                <i class="fas fa-envelope" aria-hidden="true"> mjherzalla@outlook.com</i>
                                <i class="fa fa-arrow-circle-o-right arrow" aria-hidden="true"></i>
                            </div>
                            <div class="back card">
                                <!-- back content -->
                                <p>
                                    A conscientious, fast learner offering the ability to assess an organization’s needs and create a complementary, robust web presence. Experienced in all 5 stages of the web development process including information gathering, planning, design, development, testing and delivery and maintenance. Proficient with a wide array of scripting languages and multimedia web tools.
                                </p><br>
                                <i class="fas fa-envelope" aria-hidden="true"> mjherzalla@outlook.com</i>
                                <div>
                                  <h4><i class="fas fa-envelope" aria-hidden="true"> mjherzalla@outlook.com</i><br><br>
                                  <i class="fas fa-phone" aria-hidden="true"> (206)816-5246</i></h4>
                              </div>
                        </div>
                    </div>

          </div>
          <div class="col-md-4 col-sm-3">
                <div class="flip-container " ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper">
                            <div class="front card">
                                <div>
                                    <h3><i class="fa fa-star" aria-hidden="true"></i>Hackathon winner 1st </h3>
                                    <i class="fa fa-trophy  " style="font-size: 200px" aria-hidden="true"></i>
                                    <br> Microsoft AI API – Seattle, WA
                                </div>
                                <i class="fa fa-arrow-circle-o-right arrow" aria-hidden="true"></i>
                            </div>
                            <div class="back card">
                                <!-- back content -->
                                <ul>
                                        <li>Devised a winning idea and recruited team members</li>
                                        <li>Designed a system to utilize two Microsoft Cognitive Services AI APIs and MySQL Database</li>
                                        <li>Built the system using JavaScript, Ajax, PHP, JAVA, MySQL</li>
                                        <li>Built and designed mockups of the user interfaces </li>
                                        <li>Worked closely with two UX designers and led two backend engineers to finish the project in 12 hours</li>
                                    </ul>
                                </div>
                        </div>
                    </div>

          </div>
          <div class="col-md-4 col-sm-3">
            <div class="flip-container " ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                        <div class="front card">
                            <div>
                                <h3><i class="fab fa-html5" aria-hidden="true"> Elnor</i></h3>
                                <img class="img" style="border:none"src="elnor.svg" >
                                <br>Personal Project
                            </div>
                            <i class="fa fa-arrow-circle-o-right arrow" aria-hidden="true"></i>
                        </div>
                        <div class="back card">
                            <!-- back content -->
                            <p>
                                    <b>Innovative idea for new online shopping experience, online shoppers don’t have to shop online alone anymore. <br>(work in progress) </b>
                                </p>
                            <a class="arrow"href="https://www.elnorai.com/" target="_blank">See the Demo</a>
                            </div>
                    </div>
                </div>

      </div>
          <div class="col-md-4 col-sm-3">
                <div class="flip-container " ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper">
                            <div class="front card">
                                <div>
                                    <h3><i class="fa fa-code" aria-hidden="true"></i> Miracle.js(npm)</h3>
                                    <i class="fab fa-npm  " style="font-size: 200px" aria-hidden="true"></i>
                                    <br> Open Source npm package (Up to 400 Installs a week)
                                </div>
                                <i class="fa fa-arrow-circle-o-right arrow" aria-hidden="true"></i>
                            </div>
                            <div class="back card">
                                <!-- back content -->

                                        Miracle.js is a JavaScript package that helps the developer generate some UI components.
                                        <code>npm install miracle.js</code>
                                        <a class="arrow"href=" https://www.npmjs.com/package/miracle.js" target="_blank">See it on npm</a>
                                </div>
                        </div>
                    </div>

          </div>
          <div class="col-md-4 col-sm-3">
                <div class="flip-container " ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper">
                            <div class="front card">
                                <div>
                                    <h3><i class="fa fa-code" aria-hidden="true"> Jayfire(work in progress)</i></h3>
                                    <img class="img"src="jayfire.svg" >
                                    <br>Open Source Project
                                </div>
                                <i class="fa fa-arrow-circle-o-right arrow" aria-hidden="true"></i>
                            </div>
                            <div class="back card">
                                <!-- back content -->
                                <b>

                                    JayFire is the leading platform for sharing JavaScript UI components.
                                    It is supported with CLI to install the shared components for smoother interaction.
                                    <br> <code>npm install jayfire -g </code>
                                </b>
                                <a class="arrow"href="https://jayfirejs.com/" target="_blank">Porject Like</a>
                                </div>
                        </div>
                    </div>

          </div>
          <div class="col-md-4 col-sm-3">
                <div class="flip-container " ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper">
                            <div class="front card">
                                <div>
                                    <h3><i class="fas fa-gamepad" aria-hidden="true"></i> DotsGame</h3>
                                    <i class="fas fa-dice-five  " style="font-size: 200px" aria-hidden="true"></i>
                                    <br>Challenge Project
                                </div>
                                <i class="fa fa-arrow-circle-o-right arrow" aria-hidden="true"></i>
                            </div>
                            <div class="back card">
                                <!-- back content -->
                                <p>The goal of this exercise is to create a game. In the game, dots move from the top to the bottom of the screen. A player tries to click on the dots, and receives points when they are successful.
                                </p>
                                <a class="arrow"href="DotsGame/" target="_blank">See The Game in Action</a>
                                </div>
                        </div>
                    </div>

          </div>

          <div class="col-md-4 col-sm-3">
                <div class="flip-container " ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper">
                            <div class="front card">
                                <div>
                                    <h3><i class="fab fa-html5" aria-hidden="true"> Gyrostop</i></h3>
                                    <img class="img" style="border:none"src="gs.0f9097aa.png" >
                                    <br>Freelance Project  Client
                                </div>
                                <i class="fa fa-arrow-circle-o-right arrow" aria-hidden="true"></i>
                            </div>
                            <div class="back card">
                                <!-- back content -->
                                <!-- <p>
                                        <ul>
                                                <li>Designed the front-end of the website using HTML, CSS, JavaScript</li>
                                                <li>Wrote code to fetch data from web services using jQuery, AJAX via PHP response to update the HTML pages </li>
                                                <li>Build the backend and the server-side application and services   </li>
                                                <li>Handled client-side validations, dropdown menus, and tab navigation using jQuery   </li>
                                                <li>Created cross-browser compatible and standards-compliant CSS-based page layouts</li>
                                            </ul>
                                    </p> -->
                                <a class="arrow" href="http://www.gyrostoppita.com/" target="_blank">See the live WebSite</a>
                                </div>
                        </div>
                    </div>

          </div>
          <div class="col-md-4 col-sm-4">
                <div class="flip-container " ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper">
                            <div class="front card">
                                <div>
                                    <h3><i class="fab fa-html5" aria-hidden="true"> Sinbadexpress</i></h3>
                                    <img class="img" style="border:none"src="sin.png" >
                                    <br>Freelance Project  Client
                                </div>
                                <i class="fa fa-arrow-circle-o-right arrow" aria-hidden="true"></i>
                            </div>
                            <div class="back card">
                                <!-- back content -->
                                <!-- <p>
                                        <ul>
                                                <li>Designed the front-end of the website using HTML, CSS, JavaScript</li>
                                                <li>Wrote code to fetch data from web services using jQuery, AJAX via PHP response to update the HTML pages </li>
                                                <li>Build the backend and the server-side application and services   </li>
                                                <li>Handled client-side validations, dropdown menus, and tab navigation using jQuery   </li>
                                                <li>Created cross-browser compatible and standards-compliant CSS-based page layouts</li>
                                            </ul>
                                    </p> -->
                                <a class="arrow" href="http://mysinbadexpress.com/OnlineOrdering.html" target="_blank">See the live WebSite</a>
                                </div>
                        </div>
                    </div>

          </div>
          <div class="col-md-4 col-sm-3">
                <div class="flip-container " ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper">
                            <div class="front card">
                                <div>
                                    <h3><i class="fa fa-code" aria-hidden="true"></i> Technology Summary </h3>
                                    <i class="fas fa-wrench  " style="font-size: 200px" aria-hidden="true"></i>
                                    <br> Skills and Tools
                                </div>
                                <i class="fa fa-arrow-circle-o-right arrow" aria-hidden="true"></i>
                            </div>
                            <div class="back card">
                                    <b>Languages tools:</b><br> JavaScript, CSS3, HTML5, Python, MySQL and MongoDB.<br>
                                    <b>APIs:</b> <br>Google (Maps, Gmail and Login), Facebook Login API and Microsoft AI APIs<br>
                                    <b>Frameworks:</b><br> Node.js, npm, git, React.js, Bootstrap4  Others :AWS,Azure,WordPress and Mlab ,Github , Heroku and firebase <br>
                                </div>
                        </div>
                    </div>

          </div>
        </div>
      </div>
