
    <nav class="navbar navbar-fixed-top">
      <ul class="banner">
        <div class="container">
          <img class="logo" src="../../assets/logo.png" alt="" >
          <li class="pull-right user">
            <b><img class="img-circle" src="../../assets/user.jpg" width="40px">UserName</b>
          </li>
        </div>
      </ul>
    </nav>

    <div class="container" style="margin-top:50px">
      <div class="row">
        <div class="sideBar col-md-2">
          <h4>Categories</h4>
          <ul>
            <li>Sports</li>
            <li>Politics</li>
            <li>Current Affairs</li>
            <li>Entertainment</li>
          </ul>
        </div>
        <div class="main col-md-10">
          <div class="row">
             <div class="memes">
              <div *ngFor="let article of articles let i = index">
                <div class="meme" (click)="getModal(i)">
                  <img class="img"src="{{article.meme}}" >
                </div>
                <button type="button" class="btn fa fa-thumbs-o-up" (click)="addLikes(i)">  {{article.likes}}</button>
                <button type="button" class="btn fa fa-thumbs-down" (click)="addHates(i)">  {{article.hates}}</button>
              </div>
            </div>
        </div>
      </div>
      <div *ngIf="showModal">
        <app-modal [article]='modalData'></app-modal>
      </div>
    </div>
